In [1]:
# !pip3 install "snowflake-connector-python[pandas]"
import snowflake.connector
import getpass

In [2]:
USER = input("User :: ")
PASSWORD = getpass.getpass("Password ::")
ACCOUNT_NAME = "123456.southeast-asia.azure" # CHANGE ME

# Data source
DATABASE = "SNOWFLAKE_SAMPLE_DATA"
SCHEMA = "tpcds_sf100tcl"

def connect():
    # Gets the version
    ctx = snowflake.connector.connect(
        user=USER,
        password=PASSWORD,
        account=ACCOUNT_NAME,
        database=DATABASE,
        schema=SCHEMA
        )
    
    return ctx

# Gets the version
ctx = connect()
cs = ctx.cursor()
try:
    cs.execute("SELECT current_version()")
    one_row = cs.fetchone()
    print(one_row[0])
finally:
    cs.close()
ctx.close()

User ::  adamilyas
Password :: ···········

4.36.3

In [3]:
ctx = connect()

cs = ctx.cursor()

try:
    cs.execute("SELECT * FROM CALL_CENTER LIMIT 5")
    df = cs.fetch_pandas_all()
finally:
    cs.close()
ctx.close()

In [4]:
df.head()

,CC_CALL_CENTER_SK,CC_CALL_CENTER_ID,CC_REC_START_DATE,CC_REC_END_DATE,CC_CLOSED_DATE_SK,CC_OPEN_DATE_SK,CC_NAME,CC_CLASS,CC_EMPLOYEES,CC_SQ_FT,...,CC_STREET_NAME,CC_STREET_TYPE,CC_SUITE_NUMBER,CC_CITY,CC_COUNTY,CC_STATE,CC_ZIP,CC_COUNTRY,CC_GMT_OFFSET,CC_TAX_PERCENTAGE
0,1,AAAAAAAABAAAAAAA,1998-01-01,None,NaN,2450952,NY Metro,large,597159671,481436415,...,Ash Hill,Boulevard,Suite 0,Georgetown,Harmon County,OK,77057,United States,-6.0,0.11
1,2,AAAAAAAACAAAAAAA,1998-01-01,2000-12-31,NaN,2450806,Mid Atlantic,medium,944879074,682004404,...,Center Hill,Way,Suite 70,Friendship,Raleigh County,WV,24536,United States,-5.0,0.12
2,3,AAAAAAAACAAAAAAA,2001-01-01,None,NaN,2450806,Mid Atlantic,medium,944879074,-1813347006,...,Center Hill,Way,Suite 70,Friendship,Raleigh County,WV,24536,United States,-5.0,0.01
3,4,AAAAAAAAEAAAAAAA,1998-01-01,2000-01-01,NaN,2451063,North Midwest,medium,698330137,-2050274463,...,Pine Ridge,RD,Suite U,Spring Valley,Saginaw County,MI,46060,United States,-5.0,0.05
4,5,AAAAAAAAEAAAAAAA,2000-01-02,2001-12-31,NaN,2451063,North Midwest,small,836464898,-1675101422,...,Pine Ridge,RD,Suite U,Spring Valley,Saginaw County,MI,46060,United States,-5.0,0.12